.widget-exception table {
    border: 1px solid black;
    border-collapse: collapse;
}

.widget-exception table tr,
.widget-exception table td {
    border: 1px solid black;
}

.widget-exception table td {
    padding: 5px;
}