html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.site {
    display: flex;
    height: 100%;
    background: #ddd;
    flex-direction: column;
    justify-content: center;
}

.position-main{
    margin: 0 auto;
}

