.widget-notification .notification {
    box-sizing: border-box;
    padding: 10px;
    margin-top: 1px;
}

.widget-notification .title {
    font-size: 16px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}

.widget-notification .message {
    font-size: 14px;
}

.widget-notification .notification-error {
    color: white;
    background: #cc4141;
}
.widget-notification .notification-warning {
    color: white;
    background: #d57320;
}
.widget-notification .notification-info {
    color: white;
    background: #4165cc;
}
.widget-notification .notification-success {
    color: white;
    background: #33b939;
}